.side_ber
  .side_ber__user-name
    .user-name__top-items
      %p.top-items__name masa
      
      %ul.top-items__icons
        %li.top-items__new-group
          = link_to "#" do
            = icon('fas', 'edit')
        %li.top-items__edit-account
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ